.ICEauthority
.PlayOnLinux/
.Xauthority
.bash_history
.bash_logout
.cache/
.config/
.dmrc
.esd_auth
.gdbinit
.gnome/
.gnupg/
.lesshst
.local/
.mozilla/
.pEp/
.pEp_management.db
.pEp_management.db-shm
.pEp_management.db-wal
.pki/
.profile
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.thunderbird/
.tmux.conf
.tmux.conf.local~
.vim-update
.viminfo
.vim/
.vscode/
.wget-hsts
.wine/
.xsession-errors
.xsession-errors.old
.zcompdump-piere-xps-5.6.2
.zsh_history
.zshrc~
Bilder/
Dokumente/
Downloads/
PlayOnLinux's virtual drives
Schreibtisch/
VirtualBox VMs/
snap/
